:root {
  --title-text-color: #212121;
  --paragraph-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--paragraph-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  font-style: normal;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
  margin: 0 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3 {
  color: var(--title-text-color);
}

.container {
  width: 1200px;
}

/* Шапка сторінки */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

/* Навігація по сайту */

.navigation {
  display: flex;
  align-items: center;
}

/* лого */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
}

/* лого в шапці */
.logo .black {
  color: #000000;
}

/* Головна сторінка */

/* Студія, Потфоліо, Контакти */
.navigation-choiсe {
  display: flex;
}

.navigation-choiсe .item + .item {
  margin-left: 50px;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}

/* при наведенні */
.navigation-link:hover,
.navigation-link:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

.mail-tel {
  display: flex;
  margin-left: auto;
}

.mail-tel .item + .item {
  margin-left: 50px;
}

.mail-tel .mail,
.mail-tel .tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--paragraph-color);
}

/* Ефективні рішення для вашого бізнесу */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 30px;
}

/* Кнопка Замовити послугу */
.button {
  background: var(--accent-color);
  font-family: Roboto, sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
}

.button:hover,
.button:focus {
  background: #188ce8;
  border-color: #188ce8;
}

.button-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* Наші переваги та вміння */

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.benefit {
  line-height: 1.14;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.benefits-item {
  display: flex;
  justify-content: center;
}

.benefits-item .item + .item {
  margin-left: 30px;
}

.benefit-description {
  line-height: 1.71;
}

.doing {
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.title-doing,
.title-team {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.doing-images {
  display: flex;
}

.doing-images .item + .item {
  margin-left: 30px;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.team-people {
  display: flex;
  justify-content: center;
}

.team-people .item {
  background-color: #ffffff;
}

.team-people .item + .item {
  margin-left: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 30px;
  margin-bottom: 10px;
}

.job-title {
  font-size: 16px;
  line-height: 1.19;
  padding-bottom: 30px;
}

/* Підвал сторінки */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

/* лого в підвалі */
.logo .white {
  color: #ffffff;
}

/* Контактна інформація */
.contact {
  line-height: 1.71;
}

.contact .address {
  color: #ffffff;
  margin-top: 20px;
  display: block;
}

.contact .mail,
.contact .tel {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  display: block;
}

.contact .address:hover,
.contact .address:focus,
.contact .mail:hover,
.contact .mail:focus,
.contact .tel:hover,
.contact .tel:focus {
  color: var(--accent-color);
}

/* Сторінка Портфоліо */

.portfolio {
  padding-bottom: 64px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Радіокнопки: Усі, Веб-сайти, Додатки, Дизайн, Маркентинг */

.rbutton {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 56px;
  padding-left: 15px;
  padding-right: 15px;
}

.rbutton .item + .item {
  margin-left: 8px;
}

.radiobutton {
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

/* Радіокнопки при наведенні */
.radiobutton:hover,
.radiobutton:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work {
  display: flex;
  flex-wrap: wrap;
}

.work .item {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.work .item:nth-child(3n) {
  margin-right: 0;
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: 4px;
}

.order-type {
  font-size: 16px;
  line-height: 1.88;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}
